apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      imagePullSecrets:
        - name: gitlab-registry
      containers:
        - name: {{ app_name }}
          image: {{ image_repo }}:{{ image_tag }}
          ports:
            - containerPort: {{ container_port }}
          env:
            - name: APP_ENV
              value: {{ namespace }}
            - name: DB_HOST
              value: {{ ansible_default_ipv4.address }}
            - name: DB_PORT
              value: "{{ postgres_port | default('5432') }}"
            - name: DB_NAME
              value: {{ db_name }}
            - name: DB_USER
              value: {{ postgres_user }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ app_name }}-env
                  key: DB_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  selector:
    app: {{ app_name }}
  ports:
    - port: 80
      targetPort: {{ container_port }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  ingressClassName: traefik
  rules:
{% if ingress_host %}
    - host: {{ ingress_host }}
      http:
{% else %}
    - http:
{% endif %}
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ app_name }}
                port:
                  number: 80
